[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/NOAA-GSL/GFDL_atmos_cubed_sphere
	branch = RRFS_cloud
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/NOAA-GSL/ccpp-framework
	branch = gsl/develop
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/NOAA-GSL/ccpp-physics
	branch = RRFS_cloud
