[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/JiliDong-NOAA/GFDL_atmos_cubed_sphere 
	branch = emc-2021-cloud 
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = master
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/JiliDong-NOAA/ccpp-physics 
	branch = emc-2021-cloud 
