[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/christinaholtNOAA/GFDL_atmos_cubed_sphere 
	branch = rrfs_hwt_9mem
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/NOAA-GSL/ccpp-framework
	branch = gsl/develop
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/NOAA-GSL/ccpp-physics
	branch = RRFS_cloud
